/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/**
 * Централизованное хранилище переменных
 * Легко менять тему через изменение этих значений
 */

  :root {
  /* Шрифтовая система */
  --main-font: "Inter", sans-serif; /* Основной текст */
  --accent-font: "PressStart2P", fantasy; /* Акценты и кнопки */
  
  /* Настройки типографики */
  --main-font-weight-header: 700; /* Жирность заголовков */
  --main-font-weight-text: 400; /* Основной вес текста */
  
  /* Цветовая схема */
  --main-background-color: #ffffff; /* Основной фон */
  --accent-color: #000000; /* Акцентный цвет */
  
  /* Фоновые паттерны */
  --background-image: 
    repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  
  /* Система лайков */
  --heart-contour-color: #000000; /* Контур сердца */
  --heart-fill-color: #ff0000; /* Заполненное состояние */
  
  /* Вспомогательные цвета */
  --label-stroke-color: #ffffff; /* Обводка текста */
  --text-color-button: #ffffff; /* Цвет текста кнопок */
  --blacking-out-background: rgba(0, 0, 0, 0.75); /* Затемнение */
}